header{
    background-color: brown;
}


h1{

      font-family: 'Syne', sans-serif;
      font-weight: 700;
    display: flex;
     align-items: center;
      justify-content: space-between;

}


    button{
background-color: aquamarine;
    }